api_key.txt
Vegetables-1/
venv/
*.DS_Store 
lightning_logs
TinyML-proj
MIT-Dataset
datasets/
yolo/
wandb/
runs/
stable_diff/
basket/
TinyML-CartDetection/
checkpoints/
Dataset/
training-code/quantization/keras_model/big-model_float32_v3.keras
test_aproaches/all_generated_objects
test_aproaches/generated_backgrounds
test_aproaches/generated_images
test_aproaches/all_objects_no_background
basket
huggingface_cache
.cache
__pycache__/
*.py[cod]

# ComfyUI
code_imagegeneration/comfyui/default/*
code_imagegeneration/comfyui/*.log
!code_imagegeneration/comfyui/default/workflows
huggingface
!code_dataset/huggingface